<div class="center">
  <h1 class="title">Estatísticas</h1>
</div>

<div class="hero-body">
  <div class="container has-text-centered">
    <div class="field has-addons">
      <%= form_tag "/dashboard/stats", role: 'search', class: 'field has-addons', method: :get do -%>
      <div class="control">
        <%= text_field_tag :date_from, params[:date_from], id:'datepicker1',  class: 'input', :value => Time.now.strftime("%d-%m-%Y")  %>
      </div>
      <div class="control">
        <%= text_field_tag :date_to, params[:date_to], id:'datepicker2',  class: 'input', :value => Time.now.strftime("%d-%m-%Y")  %>
      </div>
      <div class="control">
        <%= button_tag "Filtrar", class: 'button is-primary' %>
      </div>
      <div class="control">
        <a class="button is-warning" href="/dashboard/stats">Listar</a>
      </div>
      <% end %>
    </div>
  <hr>
    <div class="columns is-vcentered">
      <!-- Column is-6 -->
      <div class="column is-6">
        <div class="box content">
          <h1>Minhas Tarefas</h1>
          <table class="table is-responsive">
            <thead>
              <tr>
                <th>Tarefa</th>
                <th>Categoria</th>
                <th>Descrição</th>
                <th>Status</th>
                <th>Data</th>
              </tr>
            </thead>
            <tbody>
              <% @tasks.each do |task| %>
              <tr>
                <td><%= task.id %></td>
                <td><%= task.description %></td>
                <td><%= task.category.description %></td>
                <td> <a class="<%= task.status == true ? "tag is-success" : "tag is-warning"%>" href="#"><%= task.status == true ? "Done" : "To Do"%></a></td>
                <td><%= task.created_at.strftime("%d/%m/%y")  %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>

      </div><!-- End column is-6 -->

      <!-- Column is-6 -->
      <div class="column is-6">
        <div class="box content">
          <h1>Grafico</h1>
          <canvas id="myChart" width="400" height="400"></canvas>
        </div>
      </div><!-- End column is-6 -->

    </div>
  </div>
</div>

<% @done= @tasks.where(status: 1).count  %>
<% @to_do= @tasks.where(status: 0).count  %>
<script>
  var ctx = document.getElementById('myChart').getContext('2d');
  var to_do = "<%= @to_do %>";
  var done = "<%= @done %>";
  console.log(to_do);
  var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: ['Done','To Do'],
      datasets: [{
        label: 'Tasks',
        data: [done, to_do],
        backgroundColor: [
          'rgba(35, 209, 96, 0.2)',
          'rgba(255, 221, 87, 0.2)'
        ],
        borderColor: [
          'rgba(35, 209, 96, 1)',
          'rgba(255, 221, 87, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {

    }
  });
</script>