<div class="container">

  <h2>Edit <%= resource_name.to_s.humanize %></h2>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
  
    <div class="field">
      <%= f.label "Name" %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>
  
    <div class="field">
      <%= f.label "Email" %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>
  
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
  
    <div class="field">
      <%= f.label "Senha" %> <i>(Deixe em branco se você não quer alterar senha)</i><br />
      <%= f.password_field :password, autocomplete: "off" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> Mínimo de caracteres</em>
      <% end %>
    </div>
  
    <div class="field">
      <%= f.label "Confirme a senha" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  
    <div class="field">
      <%= f.label "Senha atual" %> <i>(Nós precisamos de sua senha atual)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>
  
    <div class="actions">
      <button class="btn waves-effect waves-light" type="submit" name="action">Atualizar
        <i class="material-icons right">Enviar</i>
      </button>
    </div>
  <% end %>
  
  <h3>Cancelar minha conta</h3>
  
  <p>Nãi satisfeito? <%= button_to "Cancelar a conta", registration_path(resource_name), data: { confirm: "Você tem certeza?" }, method: :delete,  class: 'btn lighten-2 red waves-light' %></p>
  
  <%= link_to "Voltar", :back %>
  
  </div>