
<%= form_for(category) do |f| %>

<% if category.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(category.errors.count, "error") %> prohibited information type from being saved:</h2>

  <ul>
  <% category.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
</div>
<% end %>



   <%= f.label "Descrição" %>
    <%= f.text_field :description, class:"input" %>

     <div class="actions" style="margin-top:15px;">
      <%= f.submit "Enviar", class:'button is-small is-success' %>
    </div>
    <%= link_to 'Visualizar', @category %> |
    <%= link_to 'Voltar', categories_path %>


<% end %>






