
<%= form_for :configuration_task do |f| %>

<% if configuration_task.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(configuration_task.errors.count, "error") %> prohibited information type from being saved:</h2>

  <ul>
  <% configuration_task.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
</div>
<% end %>



  <div class="field">
  <p id="notice"><%= notice %></p>
    <div class="row">
        <div class="col m8 offset-m2">
          <div class="field">
            <h5><Strong>Configurações</Strong></h5>
          </div>
        </div>
    </div>
  </div>            

  
    <div class="field">
        <%= f.label :template %>
      </div>

      <div class="field">
        <div class="select is-medium">
          <select name="template" id="template">
            <option value="Selecione"></option>
            <option value="1" id="template1">default 25 5 15 4</option>
            <option value="2" id="template2">working 50 10 20 2</option>
            <option value="3" id="template3">personal 30 2 25 4</option>
          </select>
        </div>
    </div>

      <div class="field">
        <%= f.label "Duração do pomodoro" %>
        <%= f.text_field :duration , class:"input" %>
      </div>
    
      <div class="field">
        <%= f.label "Duração da pausa curta"%>
        <%= f.text_field :duration_break, class:"input" %>
      </div>
    
      
      <div class="field">
            <%= f.label "Duração da pausa longa" %>
            <%= f.text_field :duration_break_long, class:"input" %>
        </div>
    
      <div class="field">
        <%= f.label "Atraso da pausa longa" %>
        <%= f.text_field :long_pause_delay , class:"input" %>
      </div>

      <div class="field">
            <label>
              <%= f.check_box :have_song %>
              <span>Tem som</span>
            </label>
          </div>

          

        <div class="field">
            <button class="button is-primary is-pulled-left"  type="submit">Cadastrar</button>
        </div>

<% end %>


    
    


