
<div id="login">
    <div class="login-card">
        <div class="card-title">
            <h1>Login</h1>
          </div>
          <div class="content">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field">
                <%= f.email_field :email, id:"email", autofocus: true, placeholder:"Email" %>
              </div>
            
              <div class="field">
 
                <%= f.password_field :password,  id:"password", autocomplete: "off", placeholder:"Senha" %>
              </div>
            
              <div class="level options">
                  <% if devise_mapping.rememberable? -%>
                  <div class="checkbox level-left">
                    <%= f.check_box :remember_me, id:"checkbox",class:"regular-checkbox" %>
                    <%= f.label "lembre-me",  for:"checkbox" %>
                  </div>
                <% end -%>
                </div>
                <div class="actions">
                  <button class="btn waves-effect waves-light" type="submit" name="action">Logar
                    <i class="material-icons right"></i>
                  </button>
                  <%= render "devise/shared/links" %>
                </div>
            <% end %>
          </div>
    </div>
  </div>