
<div class="row">
        <div class="col m12 offset-m12">
                <div class="field">
                        <h5 style="text-align: left"><strong>Categorias</strong></h5>
                        <table class="table is-responsive" width="100%">
                            <thead>
                              <tr>
                                <th>Descrição</th>
                                <th colspan="2"></th>
                              </tr>
                            </thead>
                          
                            <tbody>
                              <% @categorys.each do |category| %>
                                <tr>
                                  <td><%= category.description %></td>
                                  <td><%= link_to 'Editar', edit_category_path(category), :class => "button is-small is-link" %></td>
                                  <td><%= link_to 'Deletar', category, method: :delete, data: { confirm: 'Você tem certeza?' }, :class => "button is-small is-danger deletar" %></td>
                                </tr>
                              <% end %>
                            </tbody>
                          </table>
                          <div class="text-center" style="margin-bottom: 20px;">
                              <%= link_to_prev_page @categorys, 'Voltar' ,  class:"pagination-previous" %>
                              <%= link_to_next_page @categorys, 'Próximo' ,  class:"pagination-next" %>
                            </div>
                </div>
              
        </div>
    </div>

    <div class="clear: both;"></div>

    <a class="button is-small is-primary" href="categories/new">Nova Categoria</a>


  <% unless notice.nil? %>
    <div class="container">
          <div class="columns">
                    <div class="column">
                    <div class="notification is-success">
                    <button class="delete"></button>
                    <p id="notice"><%= notice %></p>
            </div>
            </div>
        </div>
    </div>
  <% end %>