<!DOCTYPE html>
<html>
  <head>
    <title>ProgramadoroTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'timer.js' %>
    <%= javascript_include_tag 'notify.js' %>

    <link rel="stylesheet" href="http://hilios.github.io/jQuery.countdown/css/main.css">
    <link rel="stylesheet" href="http://hilios.github.io/jQuery.countdown/css/syntax.css">
    <script src="//cdn.rawgit.com/hilios/jQuery.countdown/2.2.0/dist/jquery.countdown.min.js"></script>
    <script id="_carbonads_projs" type="text/javascript" src="https://srv.carbonads.net/ads/CKYIEKJM.json?segment=placement:hiliosgithubiojQuerycountdown&amp;callback=_carbonads_go"></script>
  </head>

  <body>

    <header>
        <%= render "shared/navbar" %>
    </header>

      <main>
	      <div class="container">
	        <%= yield %>
	      </div>
	    </main>

	    <footer>
	      <%= render "shared/footer" %>
	    </footer>
  </body>
</html>
